/*-- scss:defaults --*/

$dark-green: #54BDC2;
$cream: #F5F2D8;
$yellow: #E6F5B6;
$gray: #64605f;
$teal: #98D7B7;
$orange: #ad7237;

// Base document colors
$navbar-bg: $dark-green;
$navbar-fg: $yellow;
$navbar-hl: $teal;
$body-bg: $cream;
$body-color: $gray;
$footer-bg: $yellow;
$link-color: $teal;
$code-bg: $yellow;
$code-color: $teal; 

/*-- scss:rules --*/

.btn-primary {
  background-color: $teal;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5em 1em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: darken($teal, 10%);
}

/*-- scss:rules --*/

.grid .card {
  background-color: #fffeee !important;  /* white card background */
  border: none;
  border-radius: 0.5rem;                 /* round corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.grid .card-body {
  background-color: #fffef5;              /*card body is white */
}
/* title color */
.grid .card-title {
  color: #2a2a2a;  /* darker gray */
  font-weight: 600;
}

/* subtitle or description */
.grid .card-text {
  color: #555555;
}

/* data or metadata (if visible) */
.grid .listing-date {
  color: #999999;
  font-size: 0.85rem;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* set default font for whole site */
body {
  font-family: 'Lato', sans-serif;
}

/* customize headers  */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

/* make tabset panel background white */
.panel-tabset .tab-content {
  background-color: #fffef5;  /* White background */
}

/*also make the tabs white */
.panel-tabset .nav-tabs {
  background-color: #fffef5;
}